
<body>
    <mat-tab-group mat-stretch-tabs 
                    class="example-stretched-tabs mat-elevation-z4">
    
      <mat-tab label="BREAKFAST">
        <h3>List of Breakfast Items:</h3>
        <table>
          <tr> <th>Name</th> <th>Price</th> <th>Calories</th> </tr>
          <tr *ngFor="let brk of brkList">
            <td> {{brk.name}} </td>
            <td> {{brk.price}} </td>
            <td> {{brk.calories}} </td>
          </tr>
        </table>
      </mat-tab>
      
      <mat-tab label="LUNCH">
        <h3>List of Lunch Items:</h3>
    
        <table>
            <tr> <th>Name</th> <th>Price</th> <th>Calories</th> </tr>
          <tr *ngFor="let lnch of lnchList">
            <td>{{lnch.name}}</td> 
            <td>{{lnch.price}}</td>
            <td>{{lnch.calories}}</td>
          </tr>
        </table>
      </mat-tab>
    
      <mat-tab label="DINNER">
          <h3>List of Dinner Items:</h3>
          <table>
            <tr> <th>Name</th> <th>Price</th> <th>Calories</th> </tr>
            <tr *ngFor="let din of dnrList">
              <td> {{din.name}} </td>
              <td> {{din.price}} </td>
              <td> {{din.calories}} </td>
            </tr>
          </table>
      </mat-tab>
    </mat-tab-group>
    </body>